.login{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:80%;
    height:auto;
    margin:1rem auto;
    /* background: #2874f0; */
    box-shadow: 0px 0px 3px gray;
    border-radius: 14px;
    /* padding:1.2rem; */
    position: relative;
}
.image-login{
    background:#2874f0;
    color: white;
    border-radius: 14px;
}

.login-form{
    border-radius: 0rem 2rem 2rem 0rem;
    background-color: white;
}
form{
    padding:2rem;
}
.avtar{
    margin-bottom: 10px;
}
.form-field{
    position: relative;
    /* display: flex;
    justify-content: center; */
}
.form-field input{
    border: none;
    outline: none;
    width:80%;
    padding:1rem 0rem 1rem 3rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 3px gray;
    border-radius: 22px;
}
.usericon, .passicon{
    position: absolute;
    top:0.9rem;
    left:2.5rem;
}
.login-btn{
    background: #1770cff3;
    border-radius: 25px;
    padding:1rem 0rem;
    width:8rem;
}
.afterform{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    margin-top: 0px;
}
.afterform a{
    font-size: 1rem;
    font-weight: normal;
    color: #2874f0;
}
small{
    display: block;
    text-align: justify;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
}
.loginwithgoogle{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    cursor: pointer;
}

@media screen and (max-width:768px) {

    .login{
        width:90%;
        margin:1rem auto;
    }
    .image-login h2{
        font-size: 1rem;
    }
    form{
        /* padding: 1rem; */
    }
    .form-field input{
        width:90%;
        padding:0.5rem 0rem 0.5rem 2rem;
    }
    .usericon, .passicon{
        top:0.5rem;
        left:0.5rem;
        font-size: 0.8rem;
    }
    .login-btn{
        padding:0.5rem 0rem;
        width:5rem;
        font-size: 1rem;
        background-color: #0498e9;
    }
    .afterform{
        gap:0rem;
        margin-top: 0px;
    }
}