.slick-arrow.slick-prev, 
.slick-arrow.slick-next{
    background: #2c4152;
    width:45px;
    height:47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    z-index: 1;
}
.slick-prev{
    left:0px !important;
}
.slick-next {
    right: 0px !important;
}

.slick-prev::before, .slick-next::before {
     /* color: red; */
     display: none;
}

/* dots */
.slick-dots{
    /* background-color: aqua; */
    bottom:5px !important;
}
.slick-dots .slick-active button{
   /* color: red !important; */
   font-size: 20px;
}
.slick-dots .slick-active button::before{
    color: blue !important;
    font-size: 16px;
 }